/* stylelint-disable custom-property-empty-line-before */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700;900&family=Vollkorn:ital,wght@1,600&family=Work+Sans:wght@300;900&display=swap');

:root {
  --primary-color: #03342d;
  --primary-color2: #0a764f;
  --main-bg-color: #eeece4;
  --main-bg-color2: #c7c6c1;
  --dark-collor: #00323f;
}

.boqueiaScroll {
  overflow: hidden;
}

body {
  background: var(--main-bg-color) url(img/noisebg.png);
  font-size: 15px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  background: var(--primary-color) url(img/noisebg.png);
  color: var(--main-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 0 0 0 20px;
  z-index: 1;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 29px;
}

.item__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.container {
  overflow: hidden;
}

.products {

  /* border: solid 2px tomato; */
  padding-top: 90px;
}

#shopping_cart {
  background: url(./img/icon/shopping-bag.svg) no-repeat left center;
  background-size: 50%;
  width: 60px;
  height: 40px;
  border: none;
  position: relative;
}

#shopping_cart > p {
  text-indent: -1000px;
}

#shopping_cart > span {
  position: absolute;
  top: -5px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 30px;
  height: 30px;
  background-color: #0a764f;
  border-radius: 100%;
  font-weight: 700;
  color: white;
}

#cart {
  background: var(--main-bg-color) url(img/noisebg.png);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  overflow: auto;
  transition: transform ease-in-out 0.5s;
  z-index: 2;
}

#cart.active {
  transform: translateX(0);
  position: fixed;
}

.cart_container {
  padding: 60px 20px 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#shopping_cart_close {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 13px;
  top: 10px;
  background: url(./img/icon/close.png) no-repeat center;
  background-size: 40%;
  border: none;
  border-radius: 100%;
  text-indent: 30px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  font-weight: 700;
  z-index: 3;
}

.cart__items {
  height: calc(100% - 100px);
  overflow: auto;
}

.cart__item {
  margin-bottom: 10px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 20px;
  align-items: center;
  position: relative;
  padding: 10px;
  font-size: 17px;
  z-index: 1;
}

.cart__item:hover:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  background-color: #9d9d9d66;
  z-index: -1;
  border-radius: 10px;
  transition: all;
}

.cart__item:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

.cart__items .container_img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 100%;
}

.total {
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  padding: 20px 0;
  border-top: 1px black dotted;
}

.total span {
  color: var(--primary-color2);
}

.empty-cart {
  width: 100%;
  background: black;
  border: none;
  height: 80px;
  border-radius: 10px;
  margin-bottom: 70px;
  color: white;
  font-size: 18px;
  font-family: 'Titillium Web', sans-serif;
  cursor: pointer;
}

/* container busca */
.container_search {
  width: 100%;
  margin: auto;
  padding: 0 27px 0 10px;
}

.search_new_product {
  gap: 10px;
}

#search_item {
  height: 50px;
  width: 100%;
  padding: 0 60px 0 6px;
  flex-grow: 1;
  font-family: 'Titillium Web', sans-serif;
  font-size: 17px;
  border: 1px solid var(--main-bg-color2);
  border-radius: 5px;
}

.enviar {
  background: url('./img/icon/search_icon.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  text-indent: -1000px;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.search_for {
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
}

/* Container Produtos */
.items {
  display: grid;
  grid-gap: 0;
  gap: 5px;
  grid-auto-rows: 300px;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  padding: 5px;
  width: 100%;
}

.item {
  border: 1px solid var(--main-bg-color2);
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 130px 1fr 50px;
  height: auto;
  width: 100%;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 3px var(--main-bg-color2);
  position: relative;
  padding: 10px;
}

.item .item__sku {
  display: none;
}

.item .container_img {
  width: 100%;
  height: 130px;
  overflow: hidden;
}

.item .item__title {
  text-align: left;
  overflow: auto;
  height: 100%;
}

.item .item__add {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 10px;
  right: 10px;
  border-radius: 100%;
  border: none;
  overflow: hidden;
  text-indent: -1000px;
  background: var(--primary-color2) url(./img/icon/comprar.png);
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
}

.priceProduct {
  font-family: 'Vollkorn', serif;
  font-weight: 700;
  font-style: italic;
  color: var(--dark-collor);
  font-size: 24px;
  position: relative;
  padding-right: 40px;
  padding-top: 15px;
  width: 100%;
  text-align: center;
}

.priceProduct:before {
  content: 'R$';
  position: absolute;
  font-size: 12px;
  transform: translate(-16px, 6px);
}

* {
  scrollbar-width: auto;
  scrollbar-color: #000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #fff0;
  border: solid 1px;
}

*::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 0;
  height: 100px;

  /* border: 3px solid #fff; */
}

@media ( min-width : 1000px ) {

  header {
    z-index: 3;
  }

  #shopping_cart {
    border: #03342d solid;
    pointer-events: none;
  }

  #shopping_cart > p {
    text-indent: -300px;
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
  }

  #shopping_cart_close {
    display: none;
  }

  .items {
    display: grid;
    grid-gap: 0;
    gap: 10px;
    grid-auto-rows: 320px;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    padding: 40px 80px;
    width: 70%;
  }

  .item__title {
    padding-top: 20px;
  }

  .cart_container {
    padding: 100px 20px 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  #cart {
    transform: translateX(0);
    width: 20vw;
  }

  .container_search {
    width: 70%;
    margin: inherit;
    padding: 0 80px;
  }
}
